# Building a Recurrent Neural Network

## Sentiment Analysis
In this project, we will build a Long Short-term Memory (LSTM) neural network to solve a binary sentiment analysis problem.

For this, we'll use the â€œIMDB Movie Review Dataset" available on Keras. It includes 50000 highly polarized movie reviews categorized as positive or negative.

## Importing the required libraries
We'll start with importing required libraries.

ðŸ“Œ Use the keyword "import".

In [1]:
# Import TensorFlow
import tensorflow as tf
# Import NumPy and Matplotlib
import numpy as np 
import matplotlib.pyplot as plt

## Dataset
Let's download the IMDB dataset which is included in Keras, and assign it to the corresponding variables *X_train*, *y_train*, *X_test*, and *y_test*. We want to include the most frequently used 10000 words, so we specify 10000 for the num_words parameter.

ðŸ“Œ Use the datasets.imdb.load_data() function of the Keras.

In [4]:
# Download the IMDB dataset included in Keras
# Set the parameter num_words to 10000
(X_train, y_train), (X_test, y_test)=tf.keras.datasets.imdb.load_data(num_words=10000)

Before we move on, we can print a single sample to see what the data looks like.

ðŸ“Œ Use the print() function for this.

In [5]:
# Print a sample
X_test[789]

[1,
 2,
 328,
 2517,
 16,
 626,
 11,
 5527,
 43,
 33,
 4,
 2,
 7,
 4,
 4422,
 2,
 6,
 192,
 15,
 408,
 4,
 22,
 44,
 4,
 550,
 2,
 7,
 2,
 8025,
 1484,
 35,
 1283,
 2,
 4,
 328,
 2517,
 11,
 4,
 425,
 6170,
 8,
 4,
 2221,
 7,
 9497,
 2,
 2,
 5,
 1093,
 15,
 1583,
 31,
 42,
 107,
 634,
 103,
 4,
 3938,
 50,
 28,
 77,
 85,
 1151,
 5,
 108,
 44,
 4,
 4813,
 7,
 4,
 8885,
 2165,
 21,
 600,
 17,
 955,
 5,
 976,
 17,
 14,
 31,
 448,
 23,
 6,
 667,
 34,
 37,
 8676,
 1618,
 39,
 3019,
 5,
 4,
 2,
 7,
 147,
 113,
 2165,
 1484,
 4,
 22,
 4661,
 89,
 35,
 436,
 223,
 9,
 3889,
 9502,
 17,
 73,
 17,
 3105,
 34,
 4,
 2165,
 153,
 103,
 4,
 204,
 3938,
 12,
 9,
 6,
 4442,
 1772,
 21,
 31,
 15,
 2,
 19,
 933,
 5054,
 18,
 1946,
 10,
 10,
 4,
 22,
 778,
 11,
 2,
 23,
 6996,
 1086,
 5714,
 17,
 1340,
 5,
 8862,
 140,
 44,
 68,
 1280,
 2933,
 4983,
 1087,
 6,
 2,
 641,
 6527,
 5,
 6,
 2,
 5154,
 9,
 557,
 220,
 175,
 686,
 1430,
 9,
 2730,
 42,
 5939,
 724,
 2,
 4,
 86,
 8885,
 2165,
 126,
 3444,
 23,
 6,
 543,
 9,
 150,
 6,
 173,
 7,
 479,
 4358,
 215,
 820,
 2,
 68,
 456,
 4960,
 7,
 4,
 6425,
 103,
 302,
 814,
 11,
 312,
 2288,
 328,
 5,
 428,
 4,
 65,
 4615,
 187,
 2,
 6,
 185,
 255,
 37,
 9,
 1059,
 11,
 4,
 2,
 2517,
 17,
 41,
 2074,
 1828,
 145,
 8,
 4,
 543,
 8,
 1787,
 18,
 369,
 5,
 4784,
 11,
 2,
 2,
 287,
 178,
 2,
 1218,
 15,
 2416,
 19,
 178,
 6,
 185,
 430,
 19,
 2391,
 2348,
 39,
 27,
 648,
 2,
 19,
 27,
 597,
 8,
 2537,
 90,
 35,
 922,
 132,
 9,
 11,
 1674,
 120,
 27,
 5150,
 8,
 879,
 27,
 492,
 39,
 2,
 7,
 2,
 6,
 452,
 9,
 11,
 8192,
 17,
 59,
 3339,
 4,
 2,
 648,
 7,
 41,
 506,
 10,
 10,
 54,
 4,
 223,
 1747,
 8,
 68,
 3968,
 344,
 113,
 9,
 1437,
 1194,
 59,
 1085,
 41,
 369,
 1721,
 187,
 41,
 5,
 9313,
 18,
 4,
 3455,
 2,
 7,
 8025,
 7855,
 15,
 28,
 460,
 3889,
 41,
 1697,
 2,
 2,
 5,
 2965,
 4470,
 15,
 50,
 9,
 64,
 970,
 17,
 644,
 4,
 223,
 2,
 15,
 4,
 2165,
 47,
 3889,
 59,
 2738,
 89,
 2,
 5,
 2,
 71,
 2730,
 316,
 2738,
 12,
 36,
 859,
 4,
 609,
 7,
 968,
 5,
 140,
 8,
 2,
 40,
 35,
 2,
 1413,
 146,
 1195,
 7,
 12,
 560,
 6,
 464,
 2,
 2,
 4,
 1521,
 547,
 902,
 18,
 112,
 275,
 74,
 409,
 5,
 2523,
 18,
 112,
 2,
 10,
 10,
 54,
 41,
 2965,
 5,
 1697,
 353,
 8,
 169,
 41,
 6,
 658,
 4,
 2,
 349,
 5994,
 8,
 2275,
 41,
 88,
 7,
 2,
 44,
 41,
 3365,
 60,
 151,
 47,
 6573,
 41,
 6914,
 8,
 1970,
 15,
 59,
 286,
 2555,
 3773,
 8,
 4,
 2165,
 4,
 64,
 2,
 59,
 764,
 3969,
 19,
 9,
 160,
 5939,
 132,
 37,
 47,
 6,
 4079,
 1274,
 175,
 58,
 29,
 5224,
 4,
 2,
 7,
 35,
 7515,
 33,
 4,
 130,
 4,
 936,
 7,
 113,
 287,
 410,
 126,
 38,
 2,
 54,
 271,
 8,
 4,
 9061,
 5,
 1085,
 6,
 1682,
 59,
 47,
 77,
 6626,
 18,
 32,
 41,
 113,
 4,
 711,
 3583,
 11,
 4,
 1093,
 2,
 17,
 48,
 8,
 135,
 15,
 724,
 4853,
 50,
 9,
 131,
 1805,
 1038,
 75,
 842,
 23,
 4,
 1878,
 7025,
 34,
 7271,
 44,
 772,
 4,
 2165,
 280,
 174,
 11,
 4,
 3454,
 325,
 406,
 3529,
 850,
 164,
 560,
 36,
 2,
 533,
 2,
 2470,
 9,
 128,
 74,
 6,
 325,
 7,
 1351,
 138,
 191,
 36,
 67,
 328,
 2517,
 47,
 2363,
 1668,
 32,
 7,
 178,
 8,
 67,
 53,
 695]

Then, we print the the number of samples in the X_train and X_test datasets to see how the dataset is distributed.

ðŸ“Œ Use f-strings for this.

In [6]:
# Print the number of samples
print(f"""
Length of the X_train: {len(X_train)}
Length of the X_test: {len(X_test)}
""")

Length of the X_train: 25000
Length of the X_test: 25000

# Preprocessing
### Concatenate

To split the dataset with 80-10-10 ratio, we'll first concatenate train and test datasets to create one big dataset.

ðŸ“Œ Use contenate() function of the NumPy library for this.

In [7]:
# Concatenate X_train and X_test and assing it to a variable X
X=np.concatenate((X_train, X_test), axis=0)
# Concatenate y_train and y_test and assing it to a variable y
y=np.concatenate((y_train, y_test), axis=0)

###Padding

Since all reviews are at different lengths, we'll use padding to make all of them same length.

ðŸ“Œ Use preprocessing.sequence.pad_sequences() function for this.

In [8]:
# Pad all reviews in the X dataset to the length maxlen=1024
X=tf.keras.preprocessing.sequence.pad_sequences(X, maxlen=1024)

### Splitting

Now, split X and y into train, validation and test dataset and assign those to corresponding values.

ðŸ“Œ You can use list slicing methods for this.

ðŸ“Œ For this dataset, a 80-10-10 split corresponds to 40000 - 10000 - 10000 number of samples relatively.

In [9]:
# Create the training datasets
X_train=X[:40000]
y_train=y[:40000]
# Create the validation datasets
X_val=X[40000:45000]
y_val=y[40000:45000]
# Create the test datasets
X_test=X[45000:50000]
y_test=y[45000:50000]

To check if that worked out, print the number of samples in each dataset again.

ðŸ“Œ Use f-strings for this.

In [10]:
# Print the number of samples
print(f"""
Length of the X_train: {len(X_train)}
Length of the y_train: {len(y_train)}
Length of the X_val: {len(X_val)}
Length of the y_val: {len(y_val)}
Length of the X_test: {len(X_test)}
Length of the y_test: {len(y_test)}
""")

Length of the X_train: 40000
Length of the y_train: 40000
Length of the X_val: 5000
Length of the y_val: 5000
Length of the X_test: 5000
Length of the y_test: 5000

## Constructing the neural network

That was it for the preprocessing of the data! 

Now we can create our model. First, we start by creating a model object using the Sequential API of Keras.

ðŸ“Œ Use tf.keras.Sequential() to create a model object

In [11]:
model=tf.keras.Sequential()

### Embedding Layer

For the first layer, we add an embedding layer.

ðŸ“Œ Use tf.keras.layers.Embedding() for the embedding layer.

ðŸ“Œ Use .add() method of the object to add the layer.

In [12]:
# Add an embedding layer and a dropout
model.add(tf.keras.layers.Embedding(input_dim=10000, output_dim=256))
model.add(tf.keras.layers.Dropout(0.7))

Then, we add a LSTM layer and a dense layer; each with a dropout.

ðŸ“Œ Use tf.keras.layers.LSTM() and tf.keras.layers.Dense() to create the layers.

ðŸ“Œ Use .add() method of the object to add the layer.

In [13]:
# Add a LSTM layer with dropout
model.add(tf.keras.layers.LSTM(256))
model.add(tf.keras.layers.Dropout(0.7))
# Add a Dense layer with dropout
model.add(tf.keras.layers.Dense(128, activation="relu"))
model.add(tf.keras.layers.Dropout(0.7))

### Output layer

As the last part of our neural network, we add the output layer. The number of nodes will be one since we are making binary classification. We'll use the sigmoid activation function in the output layer.

ðŸ“Œ Use tf.keras.layers.Dense() to create the layer.

ðŸ“Œ Use .add() method of the object to add the layer.

In [14]:
# Add the output layer
model.add(tf.keras.layers.Dense(1, activation="sigmoid"))

### Optimizer

Now we have the structure of our model. To configure the model for training, we'll use the *.compile()* method. Inside the compile method, we have to define the following:
*   "Adam" for optimizer
*   "Binary Crossentropy" for the loss function


ðŸ“Œ Construct the model with the .compile() method.

In [15]:
model.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

## Training the model

It's time to train the model. We'll give the X_train and y_train datasets as the first two arguments. These will be used for training. And with the *validation_data* parameter, we'll give the X_val and y_val as a tuple.

ðŸ“Œ Use .fit() method of the model object for the training.

In [ ]:
# Train the model for 5 epochs
results= model.fit(X_train, y_train, epochs=5, validation_data=(X_val, y_val))

Epoch 1/5
  48/1250 [>.............................] - ETA: 1:42:12 - loss: 0.6910 - accuracy: 0.5195

### Visualize the results

After the model is trained, we can create a graph to visualize the change of loss over time. Results are held in:
* results.history["loss"]
* results.history["val_loss"]

ðŸ“Œ Use plt.show() to display the graph.

In [ ]:
# Plot the the training loss


# Plot the the validation loss


# Name the x and y axises


# Put legend table


# Show the plot

Now, do the same thing for accuracy.

ðŸ“Œ Accuracy scores can be found in:
* results.history["accuracy"]
* results.history["val_accuracy"]

In [ ]:
# Plot the the training accuracy


# Plot the the validation accuracy


# Name the x and y axises


# Put legend table


# Show the plot

## Performance evaluation

Let's use the test dataset that we created to evaluate the performance of the model.

ðŸ“Œ Use test_on_batch() method with test dataset as parameter.

In [ ]:
# Evaluate the performance

### Try a prediction

Next, we take a sample and make a prediction on it.

ðŸ“Œ Reshape the review to (1, 1024).

ðŸ“Œ Use the .prediction() method of the model object.

In [ ]:
# Make prediction on the reshaped sample